/* .password {
    background-image: url("/assets/icon--jamicons--outline--logos--eye1.svg");
    background-repeat: no-repeat;
    text-align: right;
} */

.password-input{
    position: relative;
}

.password-input button {
    position: absolute;
    top: 20%;
    right: 1%;
    background: transparent;
    border: none;
    cursor: pointer;
  }