<div
    class="relative w-full h-[1024px] flex flex-row items-center justify-start text-left text-sm text-darkslategray font-button-m lg:flex-row lg:gap-[0px] lg:items-center lg:justify-start md:flex-col md:gap-[0px] md:items-center md:justify-start sm:flex-col sm:gap-[0px] sm:items-center sm:justify-start"
>
    <img
    class="relative w-[815px] h-[1028px] object-cover"
    alt=""
    [src]="loginImage"
    />

    <div
    class="flex-1 flex flex-col p-20 items-start justify-start gap-[16px] md:flex-[unset] md:self-stretch sm:flex-[unset] sm:self-stretch"
    >
    <div
        class="self-stretch flex flex-col items-start justify-start gap-[8px] text-xl text-primary-90"
    >
        <div
        class="self-stretch flex flex-col items-center justify-start gap-[8px]"
        >
        <b
            class="self-stretch relative tracking-[1px] leading-[100%] uppercase hidden"
            >Caption</b
        >
        <b
            class="self-stretch relative text-35xl leading-[110%] hidden text-coolgray-90 text-center"
            >Lorem ipsum dolor sit amet.</b
        >
        <b
            class="self-stretch relative text-23xl leading-[110%] text-darkslategray"
            >Log In</b
        >
        </div>
        <div
        class="self-stretch relative text-lg leading-[140%] text-coolgray-90 hidden"
        >
        Rhoncus morbi et augue nec, in id ullamcorper at sit.
        </div>
    </div>
    <div
        class="self-stretch flex flex-col items-start justify-start gap-[16px] text-coolgray-90"
    >
        <div
        class="w-[436px] hidden flex-row items-start justify-start gap-[16px] text-xs"
        >
        <div
            class="flex-1 flex flex-col items-start justify-start gap-[8px]"
        >
            <div class="relative leading-[140%] inline-block w-[210px]">
            Label Name
            </div>
            <div
            class="bg-coolgray-10 box-border w-[210px] h-12 flex flex-row py-3 px-4 items-center justify-start gap-[8px] text-base text-coolgray-60 border-b-[1px] border-solid border-coolgray-30"
            >
            <!-- <img
                class="relative w-6 h-6 overflow-hidden shrink-0 hidden"
                alt=""
                src="assets/icon--jamicons--outline--logos--"
            /> -->

            <div class="flex-1 relative leading-[140%]">Placeholder</div>
            <!-- <img
                class="relative w-6 h-6 overflow-hidden shrink-0 hidden"
                alt=""
                src="assets/icon--jamicons--outline--logos--chevrondown2.svg"
            /> -->
            </div>
        </div>
        <div
            class="flex-1 flex flex-col items-start justify-start gap-[8px]"
        >
            <div class="self-stretch relative leading-[140%]">Label Name</div>
            <div
            class="self-stretch bg-coolgray-10 box-border h-12 flex flex-row py-3 px-4 items-center justify-start gap-[8px] text-base text-coolgray-60 border-b-[1px] border-solid border-coolgray-30"
            >
            <!-- <img
                class="relative w-6 h-6 overflow-hidden shrink-0 hidden"
                alt=""
                src="assets/icon--jamicons--outline--logos--search2.svg"
            /> -->

            <div class="flex-1 relative leading-[140%]">Placeholder</div>
            <!-- <img
                class="relative w-6 h-6 overflow-hidden shrink-0 hidden"
                alt=""
                src="assets/icon--jamicons--outline--logos--chevrondown3.svg"
            /> -->
            </div>
        </div>
        </div>
        <div
        class="self-stretch flex flex-col items-start justify-start gap-[4px]"
        >
        <div
            class="self-stretch flex flex-col items-start justify-start gap-[8px]"
        >
            <div class="self-stretch relative leading-[140%]">
            Email Address
            </div>
            <input
            type="email"
            class="md:flex-row md:gap-[8px] md:items-center md:justify-start"
            [(ngModel)]="email"
            >
                <img
                    class="relative w-6 h-6 overflow-hidden shrink-0 hidden"
                    alt=""
                    src="assets/icon--jamicons--outline--logos--search3.svg"
                />

                <!-- <div class="flex-1 relative leading-[140%]">Placeholder</div> -->
                <img
                    class="relative w-6 h-6 overflow-hidden shrink-0 hidden"
                    alt=""
                    src="assets/icon--jamicons--outline--logos--chevrondown4.svg"
                />
        </div>
        <div
            class="self-stretch relative text-xs leading-[140%] text-coolgray-60 hidden"
        >
            Helper or Error text goes here
        </div>
        </div>
        <div
        class="self-stretch flex flex-col items-start justify-start gap-[4px]"
        >
        <div class="self-stretch relative leading-[140%]">Password</div>
            <div
                class="self-stretch flex flex-col items-start justify-start gap-[8px] login-password-input"
            >
                <input
                    class="password"
                    [type]="getInputType()"
                    [(ngModel)]="password">
                <button (click)="passwordVisibility()">
                    <img [src]="toggleEyeSVG()" alt="Toggle Password Visibility">
                </button>
            </div>
        </div>
        <div
        class="self-stretch hidden flex-col items-start justify-start gap-[8px] text-xs"
        >
        <div class="relative leading-[140%] inline-block w-[210px]">
            Label Name
        </div>
        <div
            class="bg-coolgray-10 box-border w-[210px] h-12 flex flex-row py-3 px-4 items-center justify-start gap-[8px] text-base text-coolgray-60 border-b-[1px] border-solid border-coolgray-30"
        >
            <!-- <img
            class="relative w-6 h-6 overflow-hidden shrink-0"
            alt=""
            src="assets/icon--jamicons--outline--logos--search2.svg"
            /> -->

            <div class="flex-1 relative leading-[140%]">Placeholder</div>
            <!-- <img
            class="relative w-6 h-6 overflow-hidden shrink-0"
            alt=""
            src="assets/icon--jamicons--outline--logos--chevrondown2.svg"
            /> -->
        </div>
        </div>
        <!-- <div
        class="self-stretch flex flex-row items-center justify-start gap-[16px]"
        >
        <div class="flex flex-row items-center justify-start gap-[8px]">
            <div class="w-5 h-5 flex flex-row items-center justify-center">
                <input type="checkbox">
                <img
                class="relative w-[9.9px] h-[7.78px] opacity-[0]"
                alt=""
                src="assets/union3.svg"
                />
            </div>
            <div class="relative leading-[140%]">Remember me</div>
        </div>
        <div
            class="flex-1 relative leading-[140%] text-darkslategray text-right"
        >
            Forgot Password?
        </div>
        </div> -->
            <button
            class="btn btn-green self-stretch bg-darkolivegreen flex flex-row items-center justify-center text-base"
            (click)="login()"
            >
                <img
                    class="flex-1 relative max-w-full overflow-hidden h-6 hidden"
                    alt=""
                    src="assets/icon--jamicons--outline--logos--plus3.svg"
                />

                <div
                    class="flex-1 hidden border-r-[1px] border-solid border-gray"
                ></div>
                <div
                    class="flex-1 flex flex-row py-0 px-4 items-center justify-center"
                >
                    <div class="relative tracking-[0.5px] leading-[100%] font-medium">
                    Log In
                    </div>
                </div>
                <div
                    class="flex-1 hidden border-l-[1px] border-solid border-gray"
                ></div>
                <!-- <img
                    class="flex-1 relative max-w-full overflow-hidden h-6 hidden"
                    alt=""
                    src="assets/icon--jamicons--outline--logos--arrowright2.svg"
                /> -->
            </button>
            <div class="self-stretch relative leading-[140%] text-center" id="login_error" hidden>
                <app-alert></app-alert>
            </div>
        </div>
    <!-- <div
        class="self-stretch flex flex-row items-start justify-start gap-[16px] text-base sm:flex-row sm:gap-[16px] sm:items-start sm:justify-start"
    >
        <div
        class="flex-1 flex flex-row py-4 px-3 items-center justify-between border-[2px] border-solid border-darkslategray"
        >
        <img
            class="relative w-6 h-6 overflow-hidden shrink-0"
            alt=""
            src="assets/icon--jamicons--outline--logos--google.svg"
        />

        <div class="flex flex-row py-0 px-4 items-center justify-center">
            <div class="relative tracking-[0.5px] leading-[100%] font-medium">
            Log in with Google
            </div>
        </div>
        <img
            class="relative w-6 h-6 overflow-hidden shrink-0 hidden"
            alt=""
            src="assets/icon--jamicons--outline--logos--arrowright3.svg"
        />
        </div>
        <div
        class="flex-1 flex flex-row py-4 px-3 items-center justify-between border-[2px] border-solid border-darkslategray"
        >
        <img
            class="relative w-6 h-6 overflow-hidden shrink-0"
            alt=""
            src="assets/icon--jamicons--outline--logos--apple.svg"
        />

        <div class="flex flex-row py-0 px-4 items-center justify-center">
            <div class="relative tracking-[0.5px] leading-[100%] font-medium">
            Log in with Apple
            </div>
        </div>
        <img
            class="relative w-6 h-6 overflow-hidden shrink-0 hidden"
            alt=""
            src="assets/icon--jamicons--outline--logos--arrowright4.svg"
        />
        </div>
    </div> -->
    <div
        class="self-stretch relative box-border h-px border-t-[1px] border-solid border-coolgray-20"
    ></div>
    <div class="self-stretch relative leading-[140%]">
        No account yet? <a href="/signup" class="text-darkslategray hover:text-darkolivegreen">Sign Up</a>
    </div>
    </div>
</div>