<div
  class="relative bg-default-white w-full h-[1024px] flex flex-col items-start justify-start"
>
  <main
    class="self-stretch h-[1024px] flex flex-row items-center justify-start text-left text-sm text-primary-90 font-button-m lg:flex-row lg:gap-[0px] lg:items-center lg:justify-start md:flex-col md:gap-[0px] md:items-center md:justify-start sm:flex-col sm:gap-[0px] sm:items-center sm:justify-start"
  >
    <img
      class="self-stretch flex-1 max-w-full overflow-hidden max-h-full object-cover md:flex-[unset] md:self-stretch sm:flex-[unset] sm:self-stretch"
      alt=""
      src="assets/placeholder--picture1@2x.png"
    />

    <div
      class="flex-1 flex flex-col p-20 items-start justify-start gap-[48px] md:flex-[unset] md:self-stretch sm:flex-[unset] sm:self-stretch"
    >
      <div
        class="self-stretch flex flex-col items-start justify-start gap-[8px] text-xl"
      >
        <div
          class="self-stretch flex flex-col items-center justify-start gap-[8px]"
        >
          <b
            class="self-stretch relative tracking-[1px] leading-[100%] uppercase hidden"
            >Caption</b
          >
          <b
            class="self-stretch relative text-35xl leading-[110%] hidden text-coolgray-90 text-center"
            >Lorem ipsum dolor sit amet.</b
          >
          <h1
            class="m-0 self-stretch relative text-23xl leading-[110%] font-bold font-inherit text-darkslategray"
          >
            Sign Up
          </h1>
        </div>
        <div
          class="self-stretch relative text-lg leading-[140%] text-coolgray-90 hidden"
        >
          Rhoncus morbi et augue nec, in id ullamcorper at sit.
        </div>
      </div>
      <div
        class="self-stretch flex flex-col items-start justify-start gap-[16px] text-coolgray-90"
      >
        <div
          class="self-stretch flex flex-row items-start justify-start gap-[16px] lg:flex-row lg:gap-[16px] lg:items-start lg:justify-start md:flex-row md:gap-[16px] md:items-start md:justify-start sm:flex-row sm:gap-[16px] sm:items-start sm:justify-start"
        >
          <div
            class="flex-1 flex flex-col items-start justify-start gap-[4px]"
          >
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[8px]"
            >
              <div class="self-stretch relative leading-[140%]">
                First Name
              </div>
              <input
                class="[border:none] font-button-m text-base bg-coolgray-10 self-stretch box-border h-12 flex flex-row py-3 px-4 items-center justify-start border-b-[1px] border-solid border-coolgray-30"
                type="text"
                required
                id="signupFirstName"
              />
            </div>
            <div
              class="self-stretch relative text-xs leading-[140%] text-coolgray-60 hidden"
            >
              Helper text goes here
            </div>
          </div>
          <div
            class="flex-1 flex flex-col items-start justify-start gap-[4px]"
          >
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[8px]"
            >
              <div class="self-stretch relative leading-[140%]">
                Last Name
              </div>
              <input
                class="[border:none] font-button-m text-base bg-coolgray-10 self-stretch box-border h-12 flex flex-row py-3 px-4 items-center justify-start border-b-[1px] border-solid border-coolgray-30"
                type="text"
                required
                id="signupLastName"
              />
            </div>
            <div
              class="self-stretch relative text-xs leading-[140%] text-coolgray-60 hidden"
            >
              Helper text goes here
            </div>
          </div>
        </div>
        <div
          class="self-stretch flex flex-col items-start justify-start gap-[4px]"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[8px]"
          >
            <div class="self-stretch relative leading-[140%]">Email</div>
            <input
              class="[border:none] font-button-m text-base bg-coolgray-10 self-stretch box-border h-12 flex flex-row py-3 px-4 items-center justify-start border-b-[1px] border-solid border-coolgray-30 lg:flex-row lg:gap-[8px] lg:items-center lg:justify-start md:flex-row md:gap-[8px] md:items-center md:justify-start sm:flex-row sm:gap-[8px] sm:items-center sm:justify-start"
              type="email"
              required
              id="signupEmail"
            />
          </div>
          <div
            class="self-stretch relative text-xs leading-[140%] text-coolgray-60 hidden"
          >
            Helper text goes here
          </div>
        </div>
        <div
        class="self-stretch flex flex-col items-start justify-start gap-[4px]"
        >
            <div
                class="self-stretch flex flex-col items-start mb-4 justify-start gap-[8px]"
            >
                <div class="self-stretch relative leading-[140%]">Password</div>
                <div
                class="self-stretch bg-coolgray-10 box-border h-12 flex flex-row py-3 items-center justify-start gap-[8px] text-base text-coolgray-60 border-solid border-coolgray-30"
                >
                <img
                    class="relative w-6 h-6 overflow-hidden shrink-0 hidden"
                    alt=""
                    src="assets/icon--jamicons--outline--logos--search3.svg"
                />
                <input 
                    
                    class="flex-1 h-11 bg-coolgray-10 px-4 relative leading-[140%]"
                    type="password"
                    required
                    id="signupPassword"
                />
                <img
                    class="relative w-6 h-6 overflow-hidden shrink-0"
                    alt=""
                    src="assets/icon--jamicons--outline--logos--eye1.svg"
                />
            </div>
            </div>
        <div
          class="self-stretch hidden flex-col items-start justify-start gap-[4px]"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[8px]"
          >
            <div class="self-stretch relative leading-[140%]">
              Label Name
            </div>
            <div
              class="self-stretch bg-coolgray-10 box-border h-12 flex flex-row py-3 px-4 items-center justify-start gap-[8px] text-base text-coolgray-60 border-b-[1px] border-solid border-coolgray-30"
            >
              <img
                class="relative w-6 h-6 overflow-hidden shrink-0 hidden"
                alt=""
                src="/public/icon--jamicons--outline--logos--search3.svg"
              />

              <div class="flex-1 relative leading-[140%]">Placeholder</div>
              <img
                class="relative w-6 h-6 overflow-hidden shrink-0"
                alt=""
                src="/public/icon--jamicons--outline--logos--chevrondown3.svg"
              />
            </div>
          </div>
          <div
            class="self-stretch relative text-xs leading-[140%] text-coolgray-60 hidden"
          >
            Helper text goes here
          </div>
        </div>
        <!-- <div class="flex flex-row items-center justify-between">
          <input
            class="cursor-pointer w-5 h-5 flex flex-row items-center justify-center"
            type="checkbox"
          />

          <div class="relative leading-[140%]">
            Vestibulum faucibus odio vitae arcu auctor lectus.
          </div>
        </div> -->
        <div
          class="self-stretch shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)] flex flex-row items-center justify-start gap-[16px] text-base text-primary-60 border-[1px] border-solid border-black lg:flex-row lg:gap-[16px] lg:items-center lg:justify-start md:flex-row md:gap-[16px] md:items-center md:justify-start sm:flex-row sm:gap-[16px] sm:items-center sm:justify-start"
        >
          <div
            class="h-12 hidden flex-row py-4 px-2 box-border items-center justify-center relative gap-[16px]"
          >
            <img
              class="relative w-6 h-6 overflow-hidden shrink-0 hidden z-[0]"
              alt=""
              src="assets/icon--jamicons--outline--logos--plus4.svg"
            />

            <div class="flex flex-row items-center justify-center z-[1]">
              <div
                class="relative tracking-[0.5px] leading-[100%] font-medium"
              >
                Button Text
              </div>
            </div>
            <img
              class="relative w-6 h-6 overflow-hidden shrink-0 hidden z-[2]"
              alt=""
              src="/public/icon--jamicons--outline--logos--arrowright4.svg"
            />

            <div
              class="my-0 mx-[!important] absolute top-[8px] left-[24px] rounded-xl bg-default-alert hidden flex-row py-[0.5px] px-[5.5px] items-center justify-center z-[3] text-center text-xs text-default-white"
            >
              <div class="relative leading-[140%]">9</div>
            </div>
          </div>
          <div
            class="flex-1 bg-darkolivegreen flex flex-row py-4 px-3 items-center justify-center text-default-white border-[2px] border-solid border-darkolivegreen lg:flex-row lg:gap-[0px] lg:items-center lg:justify-center md:flex-row md:gap-[0px] md:items-center md:justify-center sm:flex-row sm:gap-[0px] sm:items-center sm:justify-center"
          >
            <img
              class="flex-1 relative max-w-full overflow-hidden h-6 hidden"
              alt=""
              src="/public/icon--jamicons--outline--logos--plus5.svg"
            />

            <div
              class="flex-1 hidden border-r-[1px] border-solid border-gray"
            ></div>
            <div
              class="flex-1 flex flex-row py-0 px-4 items-center justify-center"
            >
              <div
                class="relative tracking-[0.5px] leading-[100%] font-medium"
              >
                Sign Up
              </div>
            </div>
            <div
              class="flex-1 hidden border-l-[1px] border-solid border-gray"
            ></div>
            <img
              class="flex-1 relative max-w-full overflow-hidden h-6 hidden"
              alt=""
              src="/public/icon--jamicons--outline--logos--arrowright5.svg"
            />
          </div>
        </div>
      </div>
      <div
        class="self-stretch relative box-border h-px border-t-[1px] border-solid border-coolgray-20"
      ></div>
      <div class="self-stretch relative leading-[140%] text-darkslategray">
        Already have an account?
      </div>
    </div>
</div>
